<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
  <add name="UsbCdcDbEntities" connectionString="metadata=res://*/Entities.ModelEF.csdl|res://*/Entities.ModelEF.ssdl|res://*/Entities.ModelEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KOMP029\SQL2008;initial catalog=UsbCdcDb;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
